body {
    background-color: black;
    height: auto;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: url(/assets/imgs/section1bg.jpg) no-repeat;
    height: fit-content;
}
.title{
    display: grid;
    justify-content: center;
}
.title > img {
    width: 100%;
}
.characters-title{
    display: flex;  
    justify-content: center;
}
.characters-title > .character {
    width: 15%;
    height: auto;
}
.playbutton {
    display: flex;
    justify-content: center;
}
.playbutton > a {
    padding: 0.5% 8% 0.5% 8%;
    font-size: 25px;
    color: white;
    background-color: rgb(184, 3, 3);
}
.playbutton > a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 5px whitesmoke;
    box-shadow: 5px 5px 30px rgb(254, 73, 73);
    transition: all ease-in-out 0.5s;
}
.description{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.description > p{
    width: 50%;
}
.chevron-down{
    display: flex;
    justify-content: center;
}
.chevron-down > img{
    animation: bounce 1.5s ease-in-out infinite;
    filter: invert(100%) sepia(0) saturate(7500%) hue-rotate(165deg) brightness(102%) contrast(100%);
}
.video{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.box-video{
    visibility:hidden;
    width: 0%;
}
.masterhead{
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: 
    'koume dicel abilities'
    'dicem dices abilities';

}
.masterhead-koume{
    grid-area: koume;
    width: 150%;
    margin-top: auto;
    margin-bottom: auto;
}
.masterhead-koume > img{
    width: 100%;
}
.dicel {
    width: 100%;
    height: 50%;
    grid-area: dicel;
}
.dicel > img{
    width: 100%;
}
.dices{
    width: 200%;
    grid-area: dices;
}
.dices > img{
    width: 60%;
}
.dicem{
    width: 50%;
    grid-area: dicem;
}
.dicem > img{
    width: 100%;
}
.abilites {
    grid-area: abilities;
    width: 100%;
}
.ability{
    background-color: #26292b;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
.ability > .header{
    width: 40%;
}
.ability > .header > h3{
    color: yellow;
}
.ability > .header > img{
    width: 90%;
}
.ability > p{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
.title{
    width: 50%;
    display: grid;
    justify-content: start;
    text-align: center;
}
.title > h3{
    color: white;
    padding: 2px;
    border: 1px solid red;
}
.title > p{
    color: white;
}
.right{
    position: absolute;
    right: 0;
}
.warframeVideo {
    opacity: 1;
    display: block;
    opacity: 0;
    width: 100%;
}
.section3{
    background: url(/assets/imgs/section3bg.jpg) repeat center fixed;
    height: 900px;
}
.list-warframe{
    padding-top: 10%;
}
.warframe{
    background: url(/assets/imgs/section3bg.jpg) fixed center;
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
    height: 95%;
}
.warframe > .card-body > img {
    width: 100%;
    border-bottom: 2px solid white;
}
.warframe > .card-body > h5 {
    color: red;
    width: 100%;
}
.warframe > .card-body > p {
    color: white;
    width: 100%;
}
.warframeVideo {
    width: 100%;
    opacity: 1;
}
.warframeVideoModal{
    background: none;
    width: 100%;
}
.warframeVideoModal > .modal-dialog > .modal-content{
    background: none;
}
.section5{
    background: url(/assets/imgs/parkourBg.png) fixed center no-repeat;
}
.characters5{
    width: 50%;
}
.grineer{
    width: 40%;
}
.warframeGrineer > .part1{
    position: absolute;
    left: 10%;
}
.warframeGrineer > .part2{
    display: flex;
    justify-content: flex-end;
}
.section6{
    background: url(/assets/imgs/section3bg.jpg) fixed center;
    width: 100%;
}
.section6 > .earth {
    display: flex;
    justify-content: flex-end;
}
.section6 > .earth > img{
    width: 90%;
}
.section8 > img{
    width: 100%;
}
footer{
    color: white;
}

@media only screen and (min-width: 768px) {
    @keyframes bounce{
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0);
        }
    }
    .box-video{
        visibility: visible;
        padding: 50px;
        border-top: 1px solid rgb(103, 74, 1);
        background: url(/assets/imgs/videobg.jpg) no-repeat;
        background-size: 100% 100%;
        width: 70%;
        height: 500px;
    }
    @keyframes swaylightly {
        0% { transform: translate(0, 0); }
        25% { transform: translate(-2%, 2%); }
        50% { transform: translate(0%, 4%); }
        75% { transform: translate(2%, -2%); }
        100% { transform: translate(0, 0); }
    }
    .masterhead-koume{
        animation-name: swaylightly;
        animation-duration: 10s;
        animation-delay: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes -swaylightly {
        0% { transform: translate(0, 0); }
        25% { transform: translate(2%, -2%); }
        50% { transform: translate(0%, -4%); }
        75% { transform: translate(-2%, 2%); }
        100% { transform: translate(0, 0); }
    }
    .dicel{
        animation-name: -swaylightly;
        animation-duration: 10s;
        animation-delay: 8.5s;
        animation-iteration-count: infinite;
    }
    .dices{
        animation-name: -swaylightly;
        animation-duration: 10s;
        animation-delay: 8.5s;
        animation-iteration-count: infinite;
    }
    .dicem{
        animation-name: -swaylightly;
        animation-duration: 10s;
        animation-delay: 8.5s;
        animation-iteration-count: infinite;
    }
    .section7 > video{
        width: 90%;
    }
}
@media only screen and (max-width: 767px) {
    .section2{
        visibility: collapse;
        width: 0;
    }
    .masterhead{
        grid-template-areas: 'koume' 'abilities';
    }
    .ability{
        width: 100%;
    }
    .dicel{
        visibility: collapse;
        width: 0%;
    }
    .dices{
        visibility: collapse;
        width: 0%;
    }
    .dicem{
        visibility: collapse;
        width: 0%;
    }
    .section4{
        visibility: collapse;
        width: 0%;
    }
    .section3{
        height: 1100px;
    }
    .section5{
        visibility: collapse;
        width: 0;
    }
    .section6{
        visibility: collapse;
        width: 0;
    }
    .section7{
        visibility: collapse;
        width: 0;
    }
    .section8{
        visibility: collapse;
        width: 0;
    }
    video{
        width: 0;
    }
}